<%- include("header.ejs") -%>
<body>
  <div class="box" id="heading">
    <h1> <%= kindOfDay %></h1>
  </div>
  
  <div class="box">
    <%for(var i=0;i<values.length;i++){%>
      <div class="item">
        <input type="checkbox">
        <p><%= values[i] %></p>
      </div>
     
    <%}%>
  </div>
    
 

  <form action="/" method="post">
    <input type="text" name="newItem" placeholder="New item" autocomplete="off">
    <button type="submit" name="list" value=<%= kindOfDay %>>+</button>
  </form>
  <%- include("footer.ejs") -%>